<ion-header>
  <ion-toolbar>
    <ion-title>RDA Manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-barra-busqueda
  [typeButtonClear]="typeButtonSearchBar"
  [placeHolderText]="placeHolderText"
  (valueChange)="buscarAnimal($event)"
  ></app-barra-busqueda>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <div class="example-content">Panel Principal</div> -->
  <app-tipos-animales
  [tiposAnimales]="tiposAnimales"
    [cargando]="cargando"
  ></app-tipos-animales>
  <app-card-animales
  [animales]="animales"
  [cargando]="cargando"
  ></app-card-animales>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
     <ion-fab-button [routerLink]="['/home/animales/crear']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>