<ion-content [fullscreen]="true">
  <div class="splash-wrapper fade-in">
    <ion-card class="splash-card">
      <ion-card-content>
        <ion-img src="assets/images/logo.png"></ion-img>
        <ion-progress-bar class="loading-bar" [value]="progress"></ion-progress-bar>
        <p> Cargando sistema...</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer class="fade-in" style="animation-delay: 0.3s;">
  <ion-toolbar>
    <ion-title class="footer">Gestión inteligente para el Rancho moderno</ion-title>
  </ion-toolbar>
</ion-footer>