<ion-header>
  <ion-toolbar>
    <ion-title>Almacen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-barra-busqueda
  [typeButtonClear]="typeButtonSearchBar"
  [placeHolderText]="placeHolderText"
  (valueChange)="buscarProducto($event)"
  ></app-barra-busqueda>
<div class="productos-grid">

  @for (producto of productosPaginados; track producto.id) {

    <app-card-producto
      [producto]="producto"
      >
    </app-card-producto>

  }

</div>

<div class="paginacion">

  <ion-button
    fill="clear"
    [disabled]="paginaActual === 1"
    (click)="paginaAnterior()">

    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>

  <span>
    {{ paginaActual }} / {{ totalPaginas }}
  </span>

  <ion-button
    fill="clear"
    [disabled]="paginaActual === totalPaginas"
    (click)="paginaSiguiente()">

    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-button>

</div>


  <!--UN PERMISO PARA CREAR-->
   <ion-fab slot="fixed" vertical="bottom" horizontal="end">
     <ion-fab-button [routerLink]="['/punto_de_venta/home/inventario/crear']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
