<ion-footer>
  <ion-toolbar>
    <div class="info-carrito">
      <div class="total-carrito">
        <div class="items-carrito">
          <ion-icon name="cart-outline"></ion-icon>
          <p>Items: {{ items }}</p>
        </div>
        <div class="total-items">
          <p>Total: ${{ total }}</p>
        </div>
      </div>
      <div class="boton-carrito">
        <button class="boton" (click)="guardarItems()">
          ir a la orden <ion-icon class="arrow" name="arrow-forward-outline"></ion-icon>
        </button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>